In [2]:
count = 0

while count < 5:
    print("pune")
    count += 1

pune
pune
pune
pune
pune

In [6]:
# print the numbers from 5 to 15

count = 5

while count <= 15:
    print(count, end = ' ')
    count += 1

5 6 7 8 9 10 11 12 13 14 15

In [8]:
# find the addition of 1 to 10 numbers

count = 1
add = 0

while count <= 10:
    add = add + count
    count += 1

print(add)

55

In [10]:
# addtion of all odd numbers from 1 to 20


count = 1
add = 0

while count <= 20:
    add = add + count
    count += 2

print(add)

100

In [12]:
num = 5

fact = 1

while num > 0:
    fact = fact * num
    num -= 1

print(fact)

120

In [16]:
"""
while True:
    print("ok")
""";

In [18]:
# find out the addition of digits of a number
# eg => 12345 = 1 + 2 + 3 + 4 + 5 = 15


num = int(input("Entert the num"))
add = 0 
while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10

print(add)

Entert the num 12345

15

#### For loop

In [21]:
for i in 12, 34, 56, 78:
    print(i)

12
34
56
78

In [23]:
# take a sequence and using for loop print half of each value
for i in 12, 34, 56, 78:
    print(i/2)

6.0
17.0
28.0
39.0

In [25]:
# range function

In [27]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# start, end, step

In [31]:
list(range(5, 16))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [33]:
list(range(1, 21, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [37]:
# print 1 to 15 numbers using for loop

for i in range(1, 16):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [39]:
# find addition of 1 to 10

add = 0

for i in range(1, 11):
    add = add + i

print(add)

55

In [41]:
# addition of 1 to 20 => odd numbers

add = 0
for i in range(1, 21, 2):
    add = add + i

print(add)

100

In [43]:
# factorial

num = int(input("Enter the number "))

fact = 1

for i in range(1, num + 1):
    fact = fact * i

print(fact)

Enter the number  5

120

In [45]:
for i in "Pune":
    print(i)

P
u
n
e

In [47]:
for i in "Pune", "Mumbai":
    print(i)

Pune
Mumbai

#### Loop control statements

In [50]:
# break

In [54]:
for i in range(1, 11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [56]:
for i in range(1, 11):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

In [58]:
# continue

In [60]:
for i in range(1, 11):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [64]:
for i in range(1, 11):
    print(i)
    if i == 6:
        continue
    print(i)

1
1
2
2
3
3
4
4
5
5
6
7
7
8
8
9
9
10
10